<div>
  <form [formGroup]="form"> 
      <div class="form-group">
          <input type="text" class="form-control" formControlName="searchText" placeholder="Varunamn, t ex apelsin" autocomplete="off" />
          <span class="fa fa-remove" (click)="clearSearchInput()" *ngIf="searchText.valid"></span>
      </div>  
      
  </form>
  <table class="table table-striped" *ngIf="searchResults">
    <tr *ngFor="let r of processedHits">
      <td [innerHTML]="r.highlightedName" ></td>
      <td>{{r.kcal}}</td>
    </tr>
    <tr *ngIf="searchResults.totalEntries > searchResults.entries.length">
      <td colspan="2">... och ytterligare {{searchResults.totalEntries - searchResults.entries.length}} träffar som inte visas</td>
    </tr>
  </table>
</div>
